---
import Layout from "../layouts/Layout.astro";
import Donate from "./donate.astro";
import { Icon } from "astro-icon/components";
import sponsors from "../../public/sponsors.json";

const byte = sponsors.filter((sponsor) => {
  return sponsor.type === "0";
});
const kilobyte = sponsors.filter((sponsor) => {
  return sponsor.type === "1";
});
const megabyte = sponsors.filter((sponsor) => {
  return sponsor.type === "2";
});
const gigabyte = sponsors.filter((sponsor) => {
  return sponsor.type === "3";
});
const terabyte = sponsors.filter((sponsor) => {
  return sponsor.type === "4";
});
---

<Layout>
  <div class="container">
    <Donate />
    <div class="divider"></div>
    <h1 class="header">Sponsors</h1>
    <div class="sponsorContainer">
      <h1 class="tier">Byte</h1>
      {
        byte.map((sponsor) => (
          <div class="sponsor">
            {/* <Icon class="background" name="backgroundTest" /> */}
            <a href={sponsor.href} class="logoContainer">
              <img src={sponsor.src} class="logo" />
            </a>
          </div>
        ))
      }
    </div>
    <div class="sponsorContainer">
      <h1 class="tier">Kilobyte</h1>
      {
        kilobyte.map((sponsor) => (
          <a href={sponsor.href} class="logoContainer">
            <img src={sponsor.src} class="logo" />
          </a>
        ))
      }
    </div>
    <div class="sponsorContainer">
      <h1 class="tier">Megabyte</h1>
      {
        megabyte.map((sponsor) => (
          <a href={sponsor.href} class="logoContainer">
            <img src={sponsor.src} class="logo" />
          </a>
        ))
      }
    </div>
    <div class="sponsorContainer">
      <h1 class="tier">Gigabyte</h1>
      {
        gigabyte.map((sponsor) => (
          <a href={sponsor.href} class="logoContainer">
            <img src={sponsor.src} class="logo" />
          </a>
        ))
      }
    </div>
    <div class="sponsorContainer">
      <h1 class="tier">Terabyte</h1>
      {
        terabyte.map((sponsor) => (
          <a href={sponsor.href} class="logoContainer">
            <img src={sponsor.src} class="logo" />
          </a>
        ))
      }
    </div>
  </div>
</Layout>

<style>
  .container {
    position: relative;
    overflow: hidden visible;
    padding: 5.5rem 1.25rem;
  }

  .header {
    font-size: var(--text-5xl);
    text-align: center;
    margin-block: 0;
  }

  .divider {
    left: 0;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px var(--white-but-not) solid;
  }

  .tier {
    font-size: var(--text-3xl);
    text-align: center;
  }

  .sponsorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sponsor {
    position: relative;
    background-color: green;
  }

  .logoContainer {
    display: flex;
    padding: 1rem;
    border-radius: 0.125rem;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .logo {
    width: 100%;
    height: auto;
  }
</style>
