---
import { Icon } from "astro-icon/components";

const pages = [
  { name: "Sponsors", href: "/sponsors" },
  { name: "Donate", href: "/donate" },
];
---

<div class="container">
  <div id="navBar">
    <a data-tap="1.1" href="/">
      <img class="logo" src="sciborgs.webp" />
    </a>
    <div class="tabs">
      {
        pages.map((page) => (
          <a class="link tab" data-tap="1.2" href={page.href}>
            <h1>{page.name}</h1>
          </a>
        ))
      }
    </div>
    <div data-tap="1.3" class="mobileIcon" onclick="appearTab()">
      <Icon id="icon" name="mdi:menu" />
    </div>
  </div>
  <div id="mobileTab">
    <div class="section">
      <Icon
        data-tap="1.1"
        onclick="appearTab()"
        class="exitMenu"
        name="mdi:chevron-double-up"
      />
      <div class="pagesSection">
        {
          pages.map((page, i) => {
            const delay = (i + 1) * 0.25;

            return (
              <a
                id="pageLink"
                class="link"
                style={`--delay: ${delay}s`}
                href={page.href}
              >
                <h1 data-tap="1.3" class="header">
                  {page.name}
                </h1>
              </a>
            );
          })
        }
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .container {
    position: fixed;
    z-index: 101;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  #navBar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0.75rem 1rem;
    background: linear-gradient(to bottom, #a3854d, rgb(255 0 0 / 0%));
    transition: transform 700ms ease-out;
    transform: translateY(-10rem);

    &.activeMobile {
      transform: translateY(0);
    }
  }

  .logo {
    display: block;
    width: auto;
    height: 4rem;
    filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 50%));
  }

  .tabs {
    display: none;
  }

  .mobileIcon {
    display: inline-flex;
    padding: 0.25rem;
    border: 2px var(--white-but-not) solid;
    border-radius: 0.25rem;
    filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 50%));
    pointer-events: auto;
  }

  #icon {
    width: auto;
    height: 2rem;
    color: var(--white-but-not);
  }

  #mobileTab {
    position: fixed;
    width: 100%;
    height: 100%;
    transition:
      transform 400ms ease-in-out,
      background-color 350ms ease-in-out;
    pointer-events: auto;
    transform: translateY(-100%);

    &.appearTab {
      visibility: visible;
      transform: translateX(0);
    }
  }

  .section {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
  }

  .exitMenu {
    height: 2.5rem;
    width: auto;
    justify-self: right;
    margin: 0.5rem;
  }

  .pagesSection {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2.5rem;
  }

  .linkAnimate {
    opacity: 0;
    animation: fadeIn 0.75s ease-in-out var(--delay) forwards;
  }

  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: auto;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  @media (width >= 48rem) {
    #mobile {
      display: none;
    }

    .mobileIcon {
      display: none;
    }

    #mobileTab {
      display: none;
    }

    .tabs {
      display: flex;
      flex-direction: row;
      gap: 0.75rem;
      border-radius: 1rem;
      overflow: hidden;
      padding: 0.5rem;
    }

    .tab {
      filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 50%));
      border: none !important;
      transition: transform 250ms ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    .link {
      padding: 0.25rem;
      border: 1px var(--white-but-not) solid;
      border-radius: 0.125rem;
    }
  }
</style>

<script is:inline>
  function preventScroll(e) {
    e.preventDefault();
  }

  let currContain = false;
  function appearTab() {
    const isDesktop = window.innerWidth >= 768;
    if (isDesktop) return;

    const tab = document.getElementById("mobileTab");
    const pageLinks = document.querySelectorAll(".link");
    currContain = !currContain;
    if (currContain) {
      window.addEventListener("touchmove", preventScroll, { passive: false });
      window.addEventListener("wheel", preventScroll, { passive: false });
      pageLinks.forEach((pageLink) => pageLink.classList.add("linkAnimate"));
      document.body.classList.add("handleNav");
      tab.classList.add("appearTab");
    } else {
      window.removeEventListener("touchmove", preventScroll);
      window.removeEventListener("wheel", preventScroll);
      pageLinks.forEach((pageLink) => pageLink.classList.remove("linkAnimate"));
      document.body.classList.remove("handleNav");
      tab.classList.remove("appearTab");
    }
  }
</script>
